@font-face {
  font-family: 'Mateofont';
  src: url('/assets/IntroRustG-Trial-Base.ttf');
}

@font-face {
  font-family: 'Mateofont2';
  src: url('/assets/IntroHeadB-Trial-Base.ttf');
}

#steps-title {
  padding: 30px 0 0 0px;
  text-align: center;
  font-size: 74px;
  font-family: 'Permanent Marker';
  color:white;
  position: relative;
  bottom: -35px;

}

.steps-container {
  display: flex;
  justify-content: center;
  background: linear-gradient(124deg, rgba(255,167,4,1) 36%, rgba(255,208,4,1) 100%);
  border-radius: 180px;
  margin: 0px 90px 0px 90px;
}

.steps-beerlicious {
  padding: 20px 70px 20px 70px;
  margin: 10px;
  text-align: center;

}

// .steps-beerlicious:hover {

// }

.steps-beerlicious h1 {
  font-size: 64px;
  font-family: 'Mateofont';
  color: #000204;
}

.steps-beerlicious h2 {
  font-size: 22px;
  font-family: 'Mateofont';
  font-weight: bold;
  color: white;
}


#discover-title {
  margin: 80px 0px 0px 0px;
  text-align: center;
  font-size: 74px;
  font-family: 'Mateofont';
  color:white;
}

.discover-section {
  background: linear-gradient(142deg, rgba(0,2,4,1) 0%, rgba(36,26,0,1) 92%);
}
