.main-container-show {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(0,2,4,1) 0%, rgba(36,26,0,1) 92%);
  background-size: 100%;
  height: 100vh;
}

.beer-image {
  display: flex;
  justify-content: center;

 img {
  height: 600px;
  padding-left: 120px;
  }
}

.image-background {
  margin-left: 90px;
  background-color: rgba(255,167,4,1);
  border-radius: 50%;
  height: 400px;
  width: 400px;

}

.beer-description {
  align-items: center;
  padding: 0px 150px 0px 130px;

  h1 {
    font-family: 'Mateofont';
    font-size: 64px;
    font-weight: none;
    color: white;
  }

  h5 {
    font-family: 'Mateofont2';
    font-size: 40px;
    color: rgba(255,167,4,1);
    padding-bottom: 20px;

  }

  h6 {
    font-family: 'Mateofont2';
    font-size: 20px;
    font-weight: 10;
    color: rgba(255, 255, 255, 0.63);
    text-align: justify;
  }
}
