  <div class="footer">
    <div class="footer-logo">
      <img src="https://i.ibb.co/DpYbY10/Beer-logo-2.png"/>
    </div>

    <div class="footer-text">
      <p>Made by Mateo</p>
    </div>
  </div>
