<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1532635241-17e820acc59f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1715&q=80);">
  <h1>Beerlicious </h1>
  <p>Discover your favourite beers</p>
  <a class="btn-banner" href="#">Explore</a>
</div>

<h1>Beerlicious</h1>

<% @beers.each do |beer| %>
       <p><%= beer.name %></p>
    <% end %>
