<div class="main-container">
  <div class="banner">
    <div class='container-banner'>
      <h1>BEERLICIOUS </h1>
      <p>Discover your favourite beers</p>
      <a class="btn-banner" href="#">Explore</a>
    </div>
  </div>

  <div class="steps-section">
    <h1 id="steps-title">LET's GO!</h1>
    <div class="steps-container"  >
      <div class="steps-beerlicious" data-aos="fade-up"
     data-aos-duration="1000">
        <h1>01.</h1>
        <h2>Start <br> exploring</h2>
        <hr>
        <%# <img src="" alt=""> %>
      </div>

      <div class="steps-beerlicious" data-aos="fade-up"
     data-aos-duration="1400">
        <h1>02.</h1>
        <h2>Get <br> informed</h2>
        <hr>
        <%# <img src="" alt=""> %>
      </div>

      <div class="steps-beerlicious" data-aos="fade-up"
     data-aos-duration="1800">
        <h1>03.</h1>
        <h2>Discover <br>the best beer</h2>
        <hr>
        <%# <img src="" alt=""> %>
      </div>
    </div>

  </div>

  <div class="discover-section">
    <h1>Discover our beers!</h1>

    <% @beers.each do |beer| %>
          <p><%= beer.name %></p>
        <% end %>

  </div>

</div>
