<div class="main-container">
  <div class="banner">
    <div class='container-banner'>
      <h1>BEERLICIOUS </h1>
      <p>Discover your favourite beers</p>
      <a class="btn-banner" href="#">Explore</a>
    </div>
  </div>


<h1>How it works</h1>
<h1>Our beers</h1>
<h1></h1>

<% @beers.each do |beer| %>
       <p><%= beer.name %></p>
    <% end %>

</div>
