.btn-banner {
  text-decoration: none;
  color: white;
  background-color: #ffa704;
  font-family:'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  margin-top: 30px;
  padding: 12px 30px;
}
