.cards-beers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0px 90px 0px 90px;
}

.card-container {
  display: flex;
  align-items: center;
  margin: 40px 20px 40px 20px;
  padding: 20px 0 20px 0;
  background: linear-gradient(124deg, rgba(255,167,4,1) 36%, rgba(255,208,4,1) 100%);
  border-radius: 25px;

}

.card-container img {
  width: 33%;
  padding-left: 20px;
}

.card-info {
  padding: 20px;

  h3 {
    font-family: 'Mateofont';
  }

  h6 {
    font-family: 'Mateofont2';
    font-size: 22px;
    color: #2b1100c2
  }
}
