.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background:  #000204; //#021204
  position: -webkit-sticky;
  position: sticky !important;
  top: 0px;
  z-index: 11;
  box-shadow: 0 0 15px #000204;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 140px;
}

.navbar-expand-sm {
  justify-content: space-between !important;
}

.navbar-light .navbar-nav .nav-link {
  color:white !important;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'montserrat';
  font-size: 16px;
  display: inline-block;
  padding-bottom:2px;
  background-image: linear-gradient(#ffa704, #fbff00);
  background-position: 0 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s;
}

.navbar-light .navbar-nav .nav-link:hover {
  background-position: 100% 100%;
  background-size: 100% 2px;
  color: white;
  text-decoration: none;
}


.navbar {
  padding-right: 90px !important;
  padding-left: 90px !important;
  height: 100px;
  padding-bottom: 15px !important;
  padding-top: 20px !important;
}
